local hsl = require('lush.hsl')
local M = {}

M.BASE00 = hsl('#{{base00-hex}}')
M.BASE01 = hsl('#{{base01-hex}}')
M.BASE02 = hsl('#{{base02-hex}}')
M.BASE03 = hsl('#{{base03-hex}}')
M.BASE04 = hsl('#{{base04-hex}}')
M.BASE05 = hsl('#{{base05-hex}}')
M.BASE06 = hsl('#{{base06-hex}}')
M.BASE07 = hsl('#{{base07-hex}}')

M.BASE08 = hsl('#{{base08-hex}}')
M.BASE09 = hsl('#{{base09-hex}}')
M.BASE0A = hsl('#{{base0A-hex}}')
M.BASE0B = hsl('#{{base0B-hex}}')
M.BASE0C = hsl('#{{base0C-hex}}')
M.BASE0D = hsl('#{{base0D-hex}}')
M.BASE0E = hsl('#{{base0E-hex}}')
M.BASE0F = hsl('#{{base0F-hex}}')

return M
