theme "{{scheme-name}}"

themes {
  "{{scheme-name}}" {
    fg "#{{base05-hex}}"
    bg "#{{base00-hex}}"
    black "#{{base00-hex}}"
    red "#{{base0c-hex}}"
    green "#{{base0b-hex}}"
    yellow "#{{base0a-hex}}"
    blue "#{{base0d-hex}}"
    magenta "#{{base07-hex}}"
    cyan "#{{base08-hex}}"
    white "#{{base05-hex}}"
    orange "#{{base09-hex}}"
  }
}
