local C = {}

C.BASE00 = '#{{base00-hex}}'
C.BASE01 = '#{{base01-hex}}'
C.BASE02 = '#{{base02-hex}}'
C.BASE03 = '#{{base03-hex}}'
C.BASE04 = '#{{base04-hex}}'
C.BASE05 = '#{{base05-hex}}'
C.BASE06 = '#{{base06-hex}}'
C.BASE07 = '#{{base07-hex}}'

C.BASE08 = '#{{base08-hex}}'
C.BASE09 = '#{{base09-hex}}'
C.BASE0A = '#{{base0A-hex}}'
C.BASE0B = '#{{base0B-hex}}'
C.BASE0C = '#{{base0C-hex}}'
C.BASE0D = '#{{base0D-hex}}'
C.BASE0E = '#{{base0E-hex}}'
C.BASE0F = '#{{base0F-hex}}'
