# The basic colors
foreground              #{{base05-hex}}
background              #{{base00-hex}}
selection_foreground    #{{base00-hex}}
selection_background    #{{base08-hex}}

# Cursor colors
cursor                  none
cursor_text_color       #{{base00-hex}}

# OS Window titlebar colors
wayland_titlebar_color system
macos_titlebar_color system

# URL underline color when hovering with mouse
url_color               #{{base08-hex}}

# Kitty window border colors
active_border_color     #{{base06-hex}}
inactive_border_color   #{{base03-hex}}
bell_border_color       #{{base0A-hex}}

# OS Window titlebar colors
wayland_titlebar_color system
macos_titlebar_color system

# Tab bar colors
active_tab_foreground   #{{base01-hex}}
active_tab_background   #{{base07-hex}}
inactive_tab_foreground #{{base05-hex}}
inactive_tab_background #{{base01-hex}}
tab_bar_background      #{{base01-hex}}

# Colors for marks (marked text in the terminal)
mark1_foreground #{{base00-hex}}
mark1_background #{{base06-hex}}
mark2_foreground #{{base00-hex}}
mark2_background #{{base07-hex}}
mark3_foreground #{{base00-hex}}
mark3_background #{{base0D-hex}}

# The 16 terminal colors

# black
color0 #{{base02-hex}}
color8 #{{base03-hex}}

# red
color1 #{{base0C-hex}}
color9 #{{base0C-hex}}

# green
color2  #{{base0B-hex}}
color10 #{{base0B-hex}}

# yellow
color3  #{{base0A-hex}}
color11 #{{base0A-hex}}

# blue
color4  #{{base0D-hex}}
color12 #{{base0D-hex}}

# magenta
color5  #{{base0F-hex}}
color13 #{{base0F-hex}}

# cyan
color6  #{{base09-hex}}
color14 #{{base09-hex}}

# white
color7  #{{base05-hex}}
color15 #{{base04-hex}}
